@tailwind base;
@tailwind components; 
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    @apply m-0 min-w-80 min-h-screen;
    background-image: url('./assets/chris-biron-JVtcrWcbj1c-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  #root {
    @apply mx-auto;
  }
}